@import "tailwindcss";

:root {
    --background: #ffffff;
    --primary: #0c0c0b;
    --secondary: #ff3b3b;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-pixel-grid: var(--font-geist-pixel-grid);
    --font-pixel-circle: var(--font-geist-pixel-circle);
    --font-pixel-triangle: var(--font-geist-pixel-triangle);
    --font-pixel-line: var(--font-geist-pixel-line);
    --font-pixel-square: var(--font-geist-pixel-square);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
}
